<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a href="@Url.Action("Index")" aria-expanded="false"><i class="mdi mdi-database"></i><span class="hide-menu">Localizador </span></a>
                </li>
                <li>
                    <a href="#" aria-expanded="false" data-toggle="modal" data-target="#myModal"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Colaboradores </span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>