<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <p class="navbar-brand" style="padding: 0; margin: 0; color: #ffffff">
            <i class="flag-icon flag-icon-mx"></i> Localizador de Personas Hospitalizadas
        </p>
    </nav>
</header>